{% extends "saltweb/base.html" %}

{% block maincontainer %}
<div class="thanks-container">
    <h1 class="text-center">
        Lo que dice la people...
    </h1>
    <div class="table-responsive-sm">
    <table class="table table-light table-striped table-hover">
        <thead class="thead-dark">
            <th>Nombre</th>
            <th>Comentario</th>
        </thead>
        <tbody>
            {% for exp in object_list %}
            <tr>
                <td>{{ exp.name }}</td>
                <td>{{ exp.experience }}</td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock maincontainer %}
