{% extends "saltweb/base.html" %}
{% load static crispy_forms_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'saltweb/css/index.css' %}" type="text/css">
{% endblock css %}

{% block maincontainer %}
<div class="index-container">
    <h1 class="text-center">
        Aloha Terrícolas!
    </h1>
    <p>
        Bienvenidos a la Prueba de Concepto de SaltStack.
    </p>
    <p>
        Si esperaban encontrar una App útil, buscaron en el lugar equivocado.
    </p>
    <p>
    Esta solicitud fue recibida por la siguiente máquina: <span class="hostname-label">{{ hostname }}</span>.
    </p>
    <p>
    La página ha recibido <b>{{ visits_count }}</b> visitas desde que alguien la puso a correr. Esta máquina en particular recibió <b>{{ hostname_visits_count }}</b> visitas.
    </p>
    <div class="formContainer jumbotron">
        <h3><b>Qué te pareció la página?</b></h3>
        {% crispy form form.helper %}
    </div>
</div>
{% endblock maincontainer %}
